<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="ja" class="ie6 ielt10 ielt9 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ja" class="ie7 ielt10 ielt9 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ja" class="ie8 ielt10 ielt9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ja" class="ie9 ielt10"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><! <html lang="ja"> --><!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:www.thymeleaf.org">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ログイン | アンケートシステム
    </title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="../css/sparkplug.css"
    		th:href="@{/css/sparkplug.css}" />
    		</head>
    		<body>
    		<div th:fragment="adminMenuSource" class="non-activeTab" id="innerTab4">
		

		
		<div th:if="${MVM.creatorAndOpenStatusDtoList == null}">
			<h2>作成したアンケートはありません</h2>
		</div>
    		
    		
    		
	<div th:unless="${MVM.creatorAndOpenStatusDtoList == null}" style="position:absolute; top:100px;">
			<div class="admin-top">
			<h2 id="admin_h2">作成したアンケート</h2>
			<div id="makeEnqueteBottun">
			<form th:method="post" th:action="@{/enquete/config}">
			<input type="hidden" value="0" name="enqueteId" />
			<input type="submit" class="btn btn-primary"  value="アンケート新規作成" />
			</form>
		</div></div>
			<div class="sp-datagrid">
				<div class="row">
					<div class="col-xs-8">
						<form class="form-inline">
							<ul class="nav nav-pills sp-nav-pills-alt">
								<li class="active" id="tab1"><a
									onclick="selectedTab1(); return false;">すべて</a></li>
								<li id="tab2"><a onclick="selectedTab2(); return false;">一次保存</a></li>
								<li id="tab3"><a onclick="selectedTab3(); return false;">作成完了</a></li>
								<li id="tab9"><a onclick="selectedTab9(); return false;">回答受付</a></li>
								<li id="tab10"><a onclick="selectedTab10(); return false;">受付終了</a></li>
							</ul>
						</form>
					</div>
					<!-- /col-xs-8 -->
				</div>
				<!-- タグ１(すべて表示)　start -->
				<div style="overflow-y: scroll; height: 450px; position:absolute; top:95px;" class="selectedTag" 
					id="innerTab1">
					<table class="table table-striped table-condensed table-bordered">
						<thead>
							<tr>
								<th id="enquete_status">状態</th>
								<th id="enquete_name">アンケート名</th>
								<th id="enquete_man">作成者</th>
								<th id="enquete_start_day">作成日</th>
								<th id="enquete_button"></th>
								<th id="enquete_button"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="creator:${MVM.creatorAndOpenStatusDtoList}">
								<td class="sp-va-m" ><span class="status" th:text="${creator.enqueteState}">一時保存</span>
								<div class="base_statusBar"><div class="non_statusBar" th:name="${creator.enqueteState}"></div></div></td>
								<td class="sp-va-m"><input type="hidden" name="enqueteId"
									th:value="${creator.enqueteId}" /> <b><a
										th:href="@{|/enquete/preview/${creator.enqueteId}|}"><span
											th:text="${creator.enqueteName}">CITアンケート</span></a></b></td>
								<td class="sp-va-m"><span th:text="${creator.userName}">山田太郎</span></td>
								<td class="sp-va-m"><span th:text="${creator.createDate}" class="date">2016.09.04</span></td>
								<td class="sp-va-m sp-ta-c">
									<div class="btn-group" th:if="${creator.enqueteStateId == 2}">
										<form th:action="@{/menu/start}" method="post"
											th:id="start+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" /> <input type="button"
												class="start_bottun"
												th:name="${creator.enqueteId}"
												onclick="methodStart(this.getAttribute('name')); return false;" value="公開"/>
										</form>
									</div>
									<div class="btn-group" th:if="${creator.enqueteStateId == 3}">
										<form th:action="@{/menu/finish}" method="post"
											th:id="finish+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" /><input type="button"
												class="finish_bottun" th:name="${creator.enqueteId}"
												onclick="methodFinish(this.getAttribute('name')); return false;" value="公開終了"/>
										</form>
									</div>
								</td>
								<td class="sp-va-m sp-ta-c">
									<div class="btn-group" th:if="${creator.enqueteStateId le 2}">
										<form th:action="@{/menu/delete}" method="post"
											th:id="delete+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" /> <input type="button"
												class="remove_bottun"
												th:name="${creator.enqueteId}"
												onclick="methodDelete(this.getAttribute('name')); return false;"
												value="削除"/>
										</form>
									</div>
									<div class="btn-group" th:if="${creator.enqueteStateId == 3}">
										<form th:action="@{/result/status}" method="post"
											th:id="result+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" />
											<input type="hidden" name="enqueteName"
												th:value="${creator.enqueteName}" />
											<input type="hidden" name="enqueteStateId"
												th:value="${creator.enqueteStateId}" />	
												 <input type="button"
												class="middle_total_bottun"
												th:name="${creator.enqueteId}"
												onclick="methodResult(this.getAttribute('name')); return false;" 
												value="途中集計"/>
										</form>
									</div>
									<div class="btn-group" th:if="${creator.enqueteStateId == 4}">
										<form th:action="@{/result/status}" method="post"
											th:id="result+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" />
												<input type="hidden" name="enqueteName"
												th:value="${creator.enqueteName}" />
												<input type="hidden" name="enqueteStateId"
												th:value="${creator.enqueteStateId}" />	
												<input type="button"
												class="final_total_bottun"
												th:name="${creator.enqueteId}"
												onclick="methodResult(this.getAttribute('name')); return false;"
												value="最終集計"/>
										</form>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- タグ１(すべて表示)　finish -->
				<!-- タグ２(一次保存) start -->
				<div style="overflow-y: scroll; height: 450px;"
					class="nonSelectedTag" id="innerTab2">
					<table class="table table-striped table-condensed table-bordered">
						<thead>
							<tr>
								<th id="enquete_status">状態</th>
								<th id="enquete_status">状態</th>
								<th id="enquete_name">アンケート名</th>
								<th id="enquete_man">作成者</th>
								<th id="enquete_start_day">作成日</th>
								<th id="enquete_button"></th>
								<th id="enquete_button"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="creator:${MVM.creatorAndOpenStatusDtoList}">
								<!-- 公開前のアンケートのみ -->
								<div th:if="${creator.enqueteStateId == 1}">
									<td class="sp-va-m"><span
										th:text="${creator.enqueteState}">一時保存</span></td>
									<td class="sp-va-m"><input type="hidden" name="enqueteId"
										th:value="${creator.enqueteId}" /> <b><a
											th:href="@{|/enquete/preview/${creator.enqueteId}|}"><span
												th:text="${creator.enqueteName}">CITアンケート</span></a></b></td>
									<td class="sp-va-m"><span th:text="${creator.userName}">山田太郎</span></td>
									<td class="sp-va-m"><span th:text="${creator.createDate}" class="date">2016.09.04</span></td>
									<td class="sp-va-m sp-ta-c">
										<div class="btn-group" th:if="${creator.enqueteStateId == 2}">
											<form th:action="@{/menu/start}" method="post"
												th:id="start+${creator.enqueteId}">
												<input type="hidden" name="enqueteId"
													th:value="${creator.enqueteId}" /> <a
													class="btn btn-default sp-w100"
													th:name="${creator.enqueteId}"
													onclick="methodStart(this.getAttribute('name')); return false;">公開</a>
											</form>
										</div>
										<div class="btn-group" th:if="${creator.enqueteStateId == 3}">
											<form th:action="@{/menu/finish}" method="post"
												th:id="finish+${creator.enqueteId}">
												<input type="hidden" name="enqueteId"
													th:value="${creator.enqueteId}" /><a
													class="btn btn-info sp-w100" th:name="${creator.enqueteId}"
													onclick="methodFinish(this.getAttribute('name')); return false;">公開終了</a>
											</form>
										</div>
									</td>
									<td class="sp-va-m sp-ta-c">
										<div class="btn-group" th:if="${creator.enqueteStateId le 2}">
											<form th:action="@{/menu/delete}" method="post"
												th:id="delete+${creator.enqueteId}">
												<input type="hidden" name="enqueteId"
													th:value="${creator.enqueteId}" /> <a
													class="btn btn-danger sp-w100"
													th:name="${creator.enqueteId}"
													onclick="methodDelete(this.getAttribute('name')); return false;">削除</a>
											</form>
										</div>
										<div class="btn-group" th:if="${creator.enqueteStateId == 3}">
											<form th:action="@{/result/status}" method="post"
											th:id="result+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" />
												<input type="hidden" name="enqueteName"
												th:value="${creator.enqueteName}" />
												<input type="hidden" name="enqueteStateId"
												th:value="${creator.enqueteStateId}" />	
												 <a
												class="btn btn-primary sp-w100"
												th:name="${creator.enqueteId}"
												onclick="methodResult(this.getAttribute('name')); return false;">途中集計</a>
										</form>
										</div>
										<div class="btn-group" th:if="${creator.enqueteStateId == 4}">
											<form th:action="@{/result/status}" method="post"
											th:id="result+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" />
												<input type="hidden" name="enqueteName"
												th:value="${creator.enqueteName}" />
												<input type="hidden" name="enqueteStateId"
												th:value="${creator.enqueteStateId}" />	
												 <a
												class="btn btn-success sp-w100"
												th:name="${creator.enqueteId}"
												onclick="methodResult(this.getAttribute('name')); return false;">最終集計</a>
										</form>
										</div>
									</td>
								</div>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- タグ２(一次保存) finish -->
				<!-- タグ３(作成完了) start -->
				<div style="overflow-y: scroll; height: 450px;"
					class="nonSelectedTag" id="innerTab3">
					<table class="table table-striped table-condensed table-bordered">
						<thead>
							<tr>
								<th id="enquete_status">状態</th>
								<th id="enquete_name">アンケート名</th>
								<th id="enquete_man">作成者</th>
								<th id="enquete_start_day">作成日</th>
								<th id="enquete_button"></th>
								<th id="enquete_button"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="creator:${MVM.creatorAndOpenStatusDtoList}">
								<!-- 公開後のアンケートのみ -->
								<div th:if="${creator.enqueteStateId == 2}">
									<td class="sp-va-m"><span
										th:text="${creator.enqueteState}">一時保存</span></td>
									<td class="sp-va-m"><input type="hidden" name="enqueteId"
										th:value="${creator.enqueteId}" /><b><a
											th:href="@{|/enquete/preview/${creator.enqueteId}|}"><span
												th:text="${creator.enqueteName}">CITアンケート</span></a></b></td>
									<td class="sp-va-m"><span th:text="${creator.userName}">山田太郎</span></td>
									<td class="sp-va-m"><span th:text="${creator.createDate}" class="date">2016.09.04</span></td>
									<td class="sp-va-m sp-ta-c">
										<div class="btn-group" th:if="${creator.enqueteStateId == 2}">
											<form th:action="@{/menu/start}" method="post"
												th:id="start+${creator.enqueteId}">
												<input type="hidden" name="enqueteId"
													th:value="${creator.enqueteId}" /> <a
													class="btn btn-default sp-w100"
													th:name="${creator.enqueteId}"
													onclick="methodStart(this.getAttribute('name')); return false;">公開</a>
											</form>
										</div>
										<div class="btn-group" th:if="${creator.enqueteStateId == 3}">
											<form th:action="@{/menu/finish}" method="post"
												th:id="finish+${creator.enqueteId}">
												<input type="hidden" name="enqueteId"
													th:value="${creator.enqueteId}" /><a
													class="btn btn-info sp-w100" th:name="${creator.enqueteId}"
													onclick="methodFinish(this.getAttribute('name')); return false;">公開終了</a>
											</form>
										</div>
									</td>
									<td class="sp-va-m sp-ta-c">
										<div class="btn-group" th:if="${creator.enqueteStateId le 2}">
											<form th:action="@{/menu/delete}" method="post"
												th:id="delete+${creator.enqueteId}">
												<input type="hidden" name="enqueteId"
													th:value="${creator.enqueteId}" /> <a
													class="btn btn-danger sp-w100"
													th:name="${creator.enqueteId}"
													onclick="methodDelete(this.getAttribute('name')); return false;">削除</a>
											</form>
										</div>
										<div class="btn-group" th:if="${creator.enqueteStateId == 3}">
											<form th:action="@{/result/status}" method="post"
											th:id="result+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" />
												<input type="hidden" name="enqueteName"
												th:value="${creator.enqueteName}" />
												<input type="hidden" name="enqueteStateId"
												th:value="${creator.enqueteStateId}" />	
												 <a
												class="btn btn-primary sp-w100"
												th:name="${creator.enqueteId}"
												onclick="methodResult(this.getAttribute('name')); return false;">途中集計</a>
										</form>
										</div>
										<div class="btn-group" th:if="${creator.enqueteStateId == 4}">
											<form th:action="@{/result/status}" method="post"
											th:id="result+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" />
												<input type="hidden" name="enqueteName"
												th:value="${creator.enqueteName}" />
												<input type="hidden" name="enqueteStateId"
												th:value="${creator.enqueteStateId}" />	
												 <a
												class="btn btn-success sp-w100"
												th:name="${creator.enqueteId}"
												onclick="methodResult(this.getAttribute('name')); return false;">最終集計</a>
										</form>
										</div>
									</td>
								</div>
							</tr>
						</tbody>
					</table>
				</div>
		
			<!-- タグ３(作成完了) finish -->
			<!-- タグ９(回答受付) start -->
				<div style="overflow-y: scroll; height: 450px;"
					class="nonSelectedTag" id="innerTab9">
					<table class="table table-striped table-condensed table-bordered">
						<thead>
							<tr>
								<th id="enquete_status">状態</th>
								<th id="enquete_name">アンケート名</th>
								<th id="enquete_man">作成者</th>
								<th id="enquete_start_day">作成日</th>
								<th id="enquete_button"></th>
								<th id="enquete_button"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="creator:${MVM.creatorAndOpenStatusDtoList}">
								<!-- 公開後のアンケートのみ -->
								<div th:if="${creator.enqueteStateId == 3}">
									<td class="sp-va-m"><span
										th:text="${creator.enqueteState}">一時保存</span></td>
									<td class="sp-va-m"><input type="hidden" name="enqueteId"
										th:value="${creator.enqueteId}" /><b><a
											th:href="@{|/enquete/preview/${creator.enqueteId}|}"><span
												th:text="${creator.enqueteName}">CITアンケート</span></a></b></td>
									<td class="sp-va-m"><span th:text="${creator.userName}">山田太郎</span></td>
									<td class="sp-va-m"><span th:text="${creator.createDate}" class="date">2016.09.04</span></td>
									<td class="sp-va-m sp-ta-c">
										<div class="btn-group" th:if="${creator.enqueteStateId == 2}">
											<form th:action="@{/menu/start}" method="post"
												th:id="start+${creator.enqueteId}">
												<input type="hidden" name="enqueteId"
													th:value="${creator.enqueteId}" /> <a
													class="btn btn-default sp-w100"
													th:name="${creator.enqueteId}"
													onclick="methodStart(this.getAttribute('name')); return false;">公開</a>
											</form>
										</div>
										<div class="btn-group" th:if="${creator.enqueteStateId == 3}">
											<form th:action="@{/menu/finish}" method="post"
												th:id="finish+${creator.enqueteId}">
												<input type="hidden" name="enqueteId"
													th:value="${creator.enqueteId}" /><a
													class="btn btn-info sp-w100" th:name="${creator.enqueteId}"
													onclick="methodFinish(this.getAttribute('name')); return false;">公開終了</a>
											</form>
										</div>
									</td>
									<td class="sp-va-m sp-ta-c">
										<div class="btn-group" th:if="${creator.enqueteStateId le 2}">
											<form th:action="@{/menu/delete}" method="post"
												th:id="delete+${creator.enqueteId}">
												<input type="hidden" name="enqueteId"
													th:value="${creator.enqueteId}" /> <a
													class="btn btn-danger sp-w100"
													th:name="${creator.enqueteId}"
													onclick="methodDelete(this.getAttribute('name')); return false;">削除</a>
											</form>
										</div>
										<div class="btn-group" th:if="${creator.enqueteStateId == 3}">
											<form th:action="@{/result/status}" method="post"
											th:id="result+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" />
												<input type="hidden" name="enqueteName"
												th:value="${creator.enqueteName}" />
												<input type="hidden" name="enqueteStateId"
												th:value="${creator.enqueteStateId}" />	
												 <a
												class="btn btn-primary sp-w100"
												th:name="${creator.enqueteId}"
												onclick="methodResult(this.getAttribute('name')); return false;">途中集計</a>
										</form>
										</div>
										<div class="btn-group" th:if="${creator.enqueteStateId == 4}">
											<form th:action="@{/result/status}" method="post"
											th:id="result+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" />
												<input type="hidden" name="enqueteName"
												th:value="${creator.enqueteName}" />
												<input type="hidden" name="enqueteStateId"
												th:value="${creator.enqueteStateId}" />	
												 <a
												class="btn btn-success sp-w100"
												th:name="${creator.enqueteId}"
												onclick="methodResult(this.getAttribute('name')); return false;">最終集計</a>
										</form>
										</div>
									</td>
								</div>
							</tr>
						</tbody>
					</table>
				</div>
			<!-- タグ９(回答受付) finish -->
			<!-- タグ１０(受付終了) start -->
				<div style="overflow-y: scroll; height: 450px;"
					class="nonSelectedTag" id="innerTab10">
					<table class="table table-striped table-condensed table-bordered">
						<thead>
							<tr>
								<th id="enquete_status">状態</th>
								<th id="enquete_name">アンケート名</th>
								<th id="enquete_man">作成者</th>
								<th id="enquete_start_day">作成日</th>
								<th id="enquete_button"></th>
								<th id="enquete_button"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="creator:${MVM.creatorAndOpenStatusDtoList}">
								<!-- 受付終了のアンケートのみ -->
								<div th:if="${creator.enqueteStateId == 4}">
									<td class="sp-va-m"><span
										th:text="${creator.enqueteState}">一時保存</span></td>
									<td class="sp-va-m"><input type="hidden" name="enqueteId"
										th:value="${creator.enqueteId}" /><b><a
											th:href="@{|/enquete/preview/${creator.enqueteId}|}"><span
												th:text="${creator.enqueteName}">CITアンケート</span></a></b></td>
									<td class="sp-va-m"><span th:text="${creator.userName}">山田太郎</span></td>
									<td class="sp-va-m"><span th:text="${creator.createDate}" class="date">2016.09.04</span></td>
									<td class="sp-va-m sp-ta-c">
										<div class="btn-group" th:if="${creator.enqueteStateId == 2}">
											<form th:action="@{/menu/start}" method="post"
												th:id="start+${creator.enqueteId}">
												<input type="hidden" name="enqueteId"
													th:value="${creator.enqueteId}" /> <a
													class="btn btn-default sp-w100"
													th:name="${creator.enqueteId}"
													onclick="methodStart(this.getAttribute('name')); return false;">公開</a>
											</form>
										</div>
										<div class="btn-group" th:if="${creator.enqueteStateId == 3}">
											<form th:action="@{/menu/finish}" method="post"
												th:id="finish+${creator.enqueteId}">
												<input type="hidden" name="enqueteId"
													th:value="${creator.enqueteId}" /><a
													class="btn btn-info sp-w100" th:name="${creator.enqueteId}"
													onclick="methodFinish(this.getAttribute('name')); return false;">公開終了</a>
											</form>
										</div>
									</td>
									<td class="sp-va-m sp-ta-c">
										<div class="btn-group" th:if="${creator.enqueteStateId le 2}">
											<form th:action="@{/menu/delete}" method="post"
												th:id="delete+${creator.enqueteId}">
												<input type="hidden" name="enqueteId"
													th:value="${creator.enqueteId}" /> <a
													class="btn btn-danger sp-w100"
													th:name="${creator.enqueteId}"
													onclick="methodDelete(this.getAttribute('name')); return false;">削除</a>
											</form>
										</div>
										<div class="btn-group" th:if="${creator.enqueteStateId == 3}">
											<form th:action="@{/result/status}" method="post"
											th:id="result+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" />
												<input type="hidden" name="enqueteName"
												th:value="${creator.enqueteName}" />
												<input type="hidden" name="enqueteStateId"
												th:value="${creator.enqueteStateId}" />	
												 <a
												class="btn btn-primary sp-w100"
												th:name="${creator.enqueteId}"
												onclick="methodResult(this.getAttribute('name')); return false;">途中集計</a>
										</form>
										</div>
										<div class="btn-group" th:if="${creator.enqueteStateId == 4}">
											<form th:action="@{/result/status}" method="post"
											th:id="result+${creator.enqueteId}">
											<input type="hidden" name="enqueteId"
												th:value="${creator.enqueteId}" />
												<input type="hidden" name="enqueteName"
												th:value="${creator.enqueteName}" />
												<input type="hidden" name="enqueteStateId"
												th:value="${creator.enqueteStateId}" />	
												 <a
												class="btn btn-success sp-w100"
												th:name="${creator.enqueteId}"
												onclick="methodResult(this.getAttribute('name')); return false;">最終集計</a>
										</form>
										</div>
									</td>
							   </div>
							</tr>
						</tbody>
					</table>
				</div>
			<!-- タグ１０(受付終了) finish -->
			</div>
			<!-- /sp-datagrid -->
		</div>
</div>

</body>
</html>