<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>メニュー | アンケートシステム</title>
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="stylesheet" type="text/css" href="/css/sparkplug.css" />
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
</head>
<body class="sp-with-navbar-subnav">
	<div class="navbar navbar-inverse navbar-fixed-top sp-navbar"
		role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" class="navbar-brand"> <i class="fa fa-cloud"></i> <b>アンケートシステム</b>
				</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/menu">メニュー</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" role="button"
					class="dropdown-toggle" data-toggle="dropdown"
					aria-expanded="false"> 
					<i class="fa fa-user"> </i>
					
					
					<b class="caret"></b></a></li>
				<li><a href="/logout">ログアウト</a></li>
			</ul>
		</div>
	</div>
<h1>システムエラーです。管理者へ報告してください。</h1>

	<script src="/js/jquery-1.11.3.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/sparkplug.js"></script>
	<script src="/js/jquery.placeholder.js"></script>
</body>
</html>