<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="ja" class="ie6 ielt10 ielt9 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ja" class="ie7 ielt10 ielt9 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ja" class="ie8 ielt10 ielt9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ja" class="ie9 ielt10"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--> <html lang="ja"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>編集 | System Name
    </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="../css/sparkplug.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../js/html5shiv.min.js"></script>
      <script src="../js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="sp-with-navbar">
    <div class="navbar navbar-inverse navbar-fixed-top sp-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">
            <i class="fa fa-cloud"></i> <b>System Name</b>
          </a>
        </div><!-- /navbar-header -->
        <ul class="nav navbar-nav">
          <li><a href="#">項目1</a></li>
          <li class="active"><a href="#">項目2</a></li>
          <li><a href="#">項目3</a></li>
          <li><a href="#">項目4</a></li>
          <li><a href="#">項目5</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-user"></i> 山田 太郎 <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Action</a></li>
              <li class="divider"></li>
              <li><a href="#">Action</a></li>
            </ul>
          </li>
          <li><a href="#"><i class="fa fa-shopping-cart"></i> カート(0)</a></li>
        </ul>
      </div><!-- /container -->
    </div><!-- /navbar -->

    <div class="container" id="pagetop">

      <div class="sp-fixed-sidenav">
        <div class="panel sp-panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">サイドナビゲーション</h3>
          </div>

          <div class="list-group">
            <a href="#" class="list-group-item active">
              <h4 class="list-group-item-heading sp-mb10">リストグループ項目見出し</h4>
              <p class="list-group-item-text sp-text-secondary">項目の補足説明項目の補足説明項目の補足説明項目の補足説明</p>
            </a>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading sp-mb10">リストグループ項目見出し</h4>
              <p class="list-group-item-text sp-text-secondary">項目の補足説明項目の補足説明項目の補足説明項目の補足説明</p>
            </a>
            <a href="#" class="list-group-item">リストグループ項目</a>
            <a href="#" class="list-group-item">リストグループ項目</a>
            <a href="#" class="list-group-item sp-text-secondary">リストグループ項目（小）</a>
            <a href="#" class="list-group-item sp-text-secondary">リストグループ項目（小）</a>
          </div>
        </div><!-- /panel -->

        <div class="panel sp-panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">関連リンク</h2>
          </div>

          <div class="panel-body">
            <ul class="list-unstyled sp-ml0">
              <li><a href="#">関連リンク</a></li>
              <li><a href="#">関連リンク</a></li>
              <li><a href="#">関連リンク</a></li>
              <li><a href="#">関連リンク</a></li>
            </ul>
          </div>
        </div><!-- /panel -->
      </div><!-- /sp-fixed-sidenav -->

      <div class="sp-maincontent-wrapper">
        <div class="sp-maincontent">

          <div class="page-header">
            <div class="row">
              <div class="col-xs-4">
                <h2>見出しレベル2</h2>
              </div>
              <div class="col-xs-8 sp-ta-r">
                <ul class="list-inline sp-step-indicator">
                  <li><a href="#"><i class="fa fa-check"></i>ステップ1</a></li>
                  <li class="active"><span>ステップ2</span></li>
                  <li><span>ステップ3</span></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="sp-iobox sp-iobox-h sp-iobox-borderless">
            <table class="table">
              <tr>
                <th class="sp-iobox-label-area sp-text-additional sp-va-m sp-ta-r">表示ラベル1-1</th>
                <td class="sp-text-secondary">確認時に参照する基本情報</td>
                <th class="sp-iobox-label-area sp-text-additional sp-va-m sp-ta-r">表示ラベル1-2</th>
                <td class="sp-text-secondary">確認時に参照する基本情報</td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area sp-text-additional sp-va-m sp-ta-r">表示ラベル1-3</th>
                <td class="sp-text-secondary">確認時に参照する基本情報</td>
                <th class="sp-iobox-label-area sp-text-additional sp-va-m sp-ta-r">表示ラベル1-4</th>
                <td class="sp-text-secondary">確認時に参照する基本情報</td>
              </tr>
            </table>
          </div><!-- /sp-iobox -->

          <hr class="sp-bordered-transparent"><!-- 余白調整用に追加 -->

          <h3>基本的なフォームコントロール</h3>

          <div class="sp-iobox sp-iobox-h">
            <table class="table">
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary" for="textbox01">テキストボックス</label>
                    <span class="label label-danger"><small>必須</small></span>
                  </div>
                </th>
                <td>
                  <input class="form-control" type="text" placeholder="入力ヒントを表示" id="textbox01">
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">大きさ</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>
                  <input class="form-control input-lg" type="text" placeholder=".input-lg">
                  <input class="form-control sp-mt10" type="text" placeholder="Default input">
                  <input class="form-control input-sm sp-mt10" type="text" placeholder=".input-sm">
                  <select class="form-control input-lg sp-mt10"><option>.input-lg</option></select>
                  <select class="form-control sp-mt10"><option>Default select</option></select>
                  <select class="form-control input-sm sp-mt10"><option>.input-sm</option></select>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary" for="textbox02">横幅の調整</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <ul class="help-block sp-text-secondary">
                    <li>テキストボックスやテキストエリア、セレクトボックスは通常<code>td</code>要素の横幅いっぱいに伸びた状態で表示されるが、<code>.form-inline</code>クラスを追加すると横幅を個別に変更できる。</li>
                    <li>横幅はSparkplug提供の横幅プリセットクラス（<code>.sp-w#</code>）を使うか、またはstyle属性で直接指定する。</li>
                  </ul>
                  <input class="form-control sp-w250" type="text" placeholder="横幅250pxのテキストボックス" id="textbox02">
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary" for="textbox03">単位表示等の追加</label>
                    <span class="label label-danger"><small>必須</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">&yen;</div>
                      <input type="text" class="form-control sp-w200" id="textbox03" placeholder="例 10000">
                      <div class="input-group-addon">円</div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="control-group has-error">
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary" for="textbox04">テキストボックス（エラー）</label>
                    <span class="label label-danger"><small>必須</small></span>
                  </div>
                </th>
                <td>
                  <p class="help-block text-danger sp-list-with-icon sp-text-secondary">
                    <i class="fa fa-warning"></i> 項目単位のエラーメッセージは、各コントロールの上部に表示。
                  </p>
                  <p class="help-block text-danger sp-list-with-icon sp-text-secondary">
                    <i class="fa fa-warning"></i> 項目全体の背景色を変えるため、該当項目の<code>tr</code>要素に<code>.control-group</code>と<code>.has-error</code>を追加。
                  </p>
                  <input class="form-control" type="text" placeholder="入力ヒントを表示" id="textbox04">
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary" for="textarea1">テキストエリア</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>
                  <textarea cols="30" rows="3" class="form-control" id="textarea1"></textarea>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">ファイル選択</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>
                  <input type="file">
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">チェック横</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>
                  <label class="checkbox-inline">
                    <input type="checkbox" checked>
                    チェック1-1
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox">
                    チェック1-2
                  </label>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">チェック縦</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" checked>
                      チェック2-1チェック2-1チェック2-1
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">
                      チェック2-2チェック2-2チェック2-2
                    </label>
                  </div>
                  <div class="checkbox disabled">
                    <label>
                      <input type="checkbox" disabled>
                      チェック2-3 disabled
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">ラジオ横</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>
                  <label class="radio-inline">
                    <input type="radio" name="radio1" checked>
                    ラジオ1-1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="radio1">
                    ラジオ1-2
                  </label>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">ラジオ縦</label>
                    <span class="label label-danger"><small>必須</small></span>
                  </div>
                </th>
                <td>
                  <div class="radio">
                    <label>
                      <input type="radio" name="radio2" checked>
                      ラジオ2-1ラジオ2-1ラジオ2-1
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="radio2">
                      ラジオ2-2ラジオ2-2ラジオ2-2
                    </label>
                  </div>
                  <div class="radio disabled">
                    <label>
                      <input type="radio" name="radio2" disabled>
                      ラジオ2-3 disabled
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary" for="selectbox01">セレクトボックス</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>
                  <select class="form-control" id="selectbox01">
                    <option selected>セレクトボックス項目1</option>
                    <option>セレクトボックス項目2</option>
                  </select>
                </td>
              </tr>
              <tr class="control-group has-error">
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary" for="selectbox02">セレクトボックス（エラー）</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <p class="sp-text-additional">短いエラーメッセージは、<code>.sp-help-inline</code>を使ってコントロールの右側に配置してもよい。</p>
                  <select class="form-control sp-w250" id="selectbox02">
                    <option>セレクトボックス項目1</option>
                    <option selected>セレクトボックス項目2</option>
                  </select>
                  <span class="text-danger sp-help-inline sp-text-secondary"><i class="fa fa-warning"></i> 短いエラーメッセージ。</span>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary" for="listbox01">リストボックス</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>
                  <select class="form-control" multiple id="listbox01">
                    <option selected>リストボックス項目1</option>
                    <option>リストボックス項目2</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">時刻指定</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <select class="form-control sp-w80">
                    <option selected>14時</option>
                    <option>15時</option>
                  </select>
                  <select class="form-control sp-w80">
                    <option>37分</option>
                    <option selected>38分</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">郵便番号or電話番号</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <input class="form-control sp-w80" type="text" placeholder="123">
                  <span class="sp-help-inline sp-help-inline-delimiter">−</span>
                  <input class="form-control sp-w100" type="text" placeholder="4567">
                  <a href="javascript:void(0);" role="button" class="btn btn-default">住所を自動入力</a>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">日付入力</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <div class="input-group">
                    <input class="form-control sp-w200" type="text" placeholder="例：20150831">
                    <span class="input-group-btn">
                      <a href="javascript:void(0);" role="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="カレンダーから選ぶ"><i class="fa fa-calendar"></i></a>
                    </span>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary" for="pw01">パスワード</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <input type="password" class="form-control sp-w200" id="pw01">
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">テキスト</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <p class="sp-text-additional">補足説明には<code>p.sp-text-additional</code>を使用する。</p>
                  あいうえおかきくけこさしすせそあいうえおかきくけこさしすせそあいうえおかきくけこさしすせそあいうえおかきくけこさしすせそあいうえおかきくけこさしすせそ
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">ボタン（カラバリ）</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>
                  <ul class="sp-text-additional sp-mb10">
                    <li>ボタン同士をインラインで並べる際、折り返しの発生によって上下のボタン同士が接触してしまう場合は、適宜<code>.sp-m5</code>（margin:5px）を追加するなどして余白を整える。</li>
                    <li>見栄えの一貫性維持のため、原則として<code>.btn-default</code>と<code>.btn-primary</code>の2種類のみ使用する。</li>
                    <li><code>.btn-primary</code>は画面内での主なタスク（作業）を実行するためのコマンドに適用する。<br>強調のため、文言を<code>strong</code>要素または<code>b</code>要素で囲む。</li>
                  </ul>
                  <a href="javascript:void(0);" role="button" class="btn btn-default sp-m5">.btn-default</a>
                  <a href="javascript:void(0);" role="button" class="btn btn-primary sp-m5"><b>.btn-primary</b></a>
                  <br>
                  <a href="javascript:void(0);" role="button" class="btn btn-info sp-m5">.btn-info</a>
                  <a href="javascript:void(0);" role="button" class="btn btn-success sp-m5">.btn-success</a>
                  <a href="javascript:void(0);" role="button" class="btn btn-warning sp-m5" href="javascript:void(0);">.btn-warning</a>
                  <a href="javascript:void(0);" role="button" class="btn btn-danger sp-m5">.btn-danger</a>
                  <a href="javascript:void(0);" role="button" class="btn btn-link sp-m5">.btn-link</a>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">ボタン（要素別）</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>
                  <a href="javascript:void(0);" role="button" class="btn btn-default sp-m5 sp-w100">Link</a>
                  <button class="btn btn-default sp-m5 sp-w100">Button</button>
                  <input type="button" class="btn btn-default sp-m5 sp-w100" value="Input">
                  <input type="submit" class="btn btn-default sp-m5 sp-w100" value="Submit">
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">ボタン（大きさ）</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <a href="javascript:void(0);" role="button" class="btn btn-default btn-lg">Large</a>
                  <a href="javascript:void(0);" role="button" class="btn btn-default">Default</a>
                  <a href="javascript:void(0);" role="button" class="btn btn-default btn-sm">Small</a>
                  <a href="javascript:void(0);" role="button" class="btn btn-default btn-xs">Extra small</a>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">ボタン（アイコン付き）</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <ul class="sp-text-additional sp-mb10">
                    <li>アイコンは<a href="http://fortawesome.github.io/Font-Awesome/">Font-Awesome</a>を使用する。</li>
                    <li><code>input</code>要素や<code>button</code>要素を使ったボタンにはアイコンを使用できない。</li>
                  </ul>
                  <a href="javascript:void(0);" role="button" class="btn btn-default btn-lg"><i class="fa fa-file-text-o"></i> Large</a>
                  <a href="javascript:void(0);" role="button" class="btn btn-default"><i class="fa fa-file-text-o"></i> Default</a>
                  <a href="javascript:void(0);" role="button" class="btn btn-default btn-sm"><i class="fa fa-file-text-o"></i> Small</a>
                  <a href="javascript:void(0);" role="button" class="btn btn-default btn-xs"><i class="fa fa-file-text-o"></i> Extra small</a>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">リンク</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <a href="#">あいうえおかきくけこさしすせそ</a>
                </td>
              </tr>
            </table>
          </div><!-- /sp-iobox -->

          <h3>テキスト、モーダル、データグリッド</h3>

          <div class="sp-iobox sp-iobox-h">
            <table class="table">
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">テキスト</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <p>入力項目を複数グループにまとめられる場合は、このように複数の小見出し付きI/Oボックスで分割する。</p>
                  <p class="mb0">あいうえおかきくけこさしすせそあいうえおかきくけこさしすせそあいうえおかきくけこさしすせそあいうえおかきくけこさしすせそあいうえおかきくけこさしすせそあいうえおかきくけこさしすせそ。</p>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">モーダル</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <div class="well well-sm sp-ta-c sp-mb0">
                    <a href="#demoModal1" role="button" class="btn btn-default sp-w200" role="button" data-toggle="modal">単数選択モーダル</a>
                    <a href="#demoModal2" role="button" class="btn btn-default sp-w200" role="button" data-toggle="modal">複数選択モーダル</a>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">データグリッドの埋め込み</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>

                  <div class="sp-datagrid sp-mb0">
                    <table class="table table-striped table-condensed table-bordered">
                      <thead>
                        <tr>
                          <th>項目名</th>
                          <th class="sp-w60"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="sp-va-m"><a href="#">名称リンクあいうえおかきくけこさしすせそあいうえおかきくけこさしすせそあいうえおかきくけこさしすせそあいうえおかきくけこさしすせそあいうえおかきくけこさしすせそ</a></td>
                          <td class="sp-ta-c"><a href="#" role="button" class="btn btn-default btn-xs">削除</a></td>
                        </tr>
                        <tr>
                          <td class="sp-va-m"><a href="#">名称リンクあいうえおかきくけこさしすせそあいうえお</a></td>
                          <td class="sp-ta-c"><a href="#" role="button" class="btn btn-default btn-xs">削除</a></td>
                        </tr>
                        <tr>
                          <td class="sp-va-m"><a href="#">名称リンクあいうえおかきくけこさしすせそあいうえお</a></td>
                          <td class="sp-ta-c"><a href="#" role="button" class="btn btn-default btn-xs">削除</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- /sp-datagrid -->

                </td>
              </tr>
            </table>
          </div><!-- /sp-iobox -->

          <h3>フォームコントロールの親子関係の表現</h3>

          <div class="sp-iobox sp-iobox-h">
            <table class="table">
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">改行版</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" checked=""> 親チェックボックス
                    </label>
                  </div>
                  <div class="sp-control-child"><!-- 子 -->
                    <div class="radio">
                      <label>
                        <input type="radio" name="parent-child" checked="">
                        子ラジオボタン1子ラジオボタン1
                      </label>
                    </div>
                    <div class="sp-control-child"><!-- 孫 -->
                      <select class="form-control">
                        <option>孫セレクトボックス</option>
                        <option>あいう</option>
                      </select>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="parent-child">
                        子ラジオボタン2子ラジオボタン2
                      </label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">インライン版</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" checked=""> 親チェックボックス
                    </label>
                  </div>
                  <div class="sp-control-child"><!-- 子 -->
                    <input type="text" class="form-control sp-w200" value="子テキストボックス">
                  </div>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">インライン版</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" checked=""> 親チェック
                    </label>
                  </div>
                  <div class="sp-control-child"><!-- 子 -->
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" checked=""> 子チェック
                      </label>
                    </div>
                    <div class="sp-control-child"><!-- 孫 -->
                      <input type="text" class="form-control sp-w200" value="孫テキスト">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">インライン版</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" checked=""> 親チェック
                    </label>
                  </div>
                  <div class="sp-control-child"><!-- 子 -->
                    <select class="form-control sp-w120">
                      <option>子セレクト</option>
                      <option>あいう</option>
                    </select>
                    <div class="sp-control-child"><!-- 孫 -->
                      <input type="text" class="form-control sp-w200" value="孫テキスト">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">改行版：背景色付き</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" checked=""> 親チェックボックス
                    </label>
                  </div>
                  <div class="sp-control-child sp-control-child-backgrounded"><!-- 子 -->
                    <div class="radio">
                      <label>
                        <input type="radio" name="parent-child2" checked="">
                        子ラジオボタン1子ラジオボタン1子ラジオボタン1
                      </label>
                    </div>
                    <div class="sp-control-child"><!-- 孫 -->
                      <select class="form-control">
                        <option>孫セレクトボックス</option>
                        <option>あいう</option>
                      </select>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="parent-child2">
                        子ラジオボタン2子ラジオボタン2子ラジオボタン2
                      </label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="sp-iobox-label-area">
                  <div class="sp-label-container">
                    <label class="sp-text-secondary">インライン版：背景色付き</label>
                    <span class="label label-default"><small>任意</small></span>
                  </div>
                </th>
                <td class="form-inline">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" checked=""> 親チェック
                    </label>
                  </div>
                  <div class="sp-control-child sp-control-child-backgrounded"><!-- 子 -->
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" checked=""> 子チェック
                      </label>
                    </div>
                    <div class="sp-control-child"><!-- 孫 -->
                      <input type="text" class="form-control sp-w250" value="孫テキスト">
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div><!-- /sp-iobox -->

          <div class="well well-sm">
            <a href="#" role="button" class="btn btn-primary sp-w200"><b>入力内容確認へ</b></a>
            <a href="#" role="button" class="btn btn-default">前の画面に戻る</a>
          </div>

        </div><!-- /sp-maincontent -->
      </div><!-- /sp-maincontent-wrapper -->

    </div><!-- /container -->

    <div class="sp-footer">
      <div class="container">
        <p class="sp-text-additional sp-ta-c">&copy; Information Services International-Dentsu, Ltd.</p>
      </div>
    </div>

    <div class="sp-btn-sticky-bottom"><a href="#pagetop"><i class="fa fa-angle-up"></i>ページの先頭へ</a></div>
    <!-- 画面下端にはりつく「ページの先頭へ」ボタン -->

<!-- モーダル（単数選択） -->
<div id="demoModal1" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="閉じる"><span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span></button>
        <h3>モーダル（単数選択）</h3>
      </div>

      <div class="modal-body">
        <div class="panel sp-panel-default collapsed" data-sp-toggle="panel">
          <div class="panel-heading" tabindex="0">
            <div class="row">
              <div class="col-xs-3">
                <h2 class="panel-title"><i class="fa fa-fw fa-caret-right"></i>&nbsp;絞り込み検索</h2>
              </div><!-- /col-xs-8 -->
              <div class="col-xs-9 sp-ta-r sp-text-additional">
                <strong>条件　</strong>検索条件1の指定内容／検索条件2の指定内容／検索条件3の指定内容
              </div><!-- /col-xs-4 -->
            </div>
          </div>

          <div class="sp-iobox sp-iobox-h" style="display: none;">
            <table class="table">
              <tbody>
                <tr>
                  <th class="sp-iobox-label-area">
                    <div class="sp-label-container">
                      <label class="sp-text-secondary">検索条件1</label>
                      <span class="label label-danger"><small>必須</small></span>
                    </div>
                  </th>
                  <td>
                    <p class="sp-text-additional">必要に応じて、ここに補足説明を表示します。</p>
                    <input class="form-control" type="text" placeholder="入力ヒントを表示">
                  </td>
                </tr>
                <tr>
                  <th class="sp-iobox-label-area">
                    <div class="sp-label-container">
                      <label class="sp-text-secondary">検索条件2</label>
                      <span class="label label-default"><small>任意</small></span>
                    </div>
                  </th>
                  <td>
                    <select class="form-control">
                      <option>セレクトボックス項目1</option>
                      <option selected="">セレクトボックス項目2</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th class="sp-iobox-label-area">
                    <div class="sp-label-container">
                      <label class="sp-text-secondary">検索条件3</label>
                      <span class="label label-default"><small>任意</small></span>
                    </div>
                  </th>
                  <td>
                    <label class="radio-inline">
                      <input type="radio" name="radiom1-1" checked> ラジオ1
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="radiom1-1"> ラジオ2
                    </label>
                  </td>
                </tr>
                <tr>
                  <th class="sp-iobox-label-area">
                    <div class="sp-label-container">
                      <label class="sp-text-secondary">検索条件4</label>
                      <span class="label label-default"><small>任意</small></span>
                    </div>
                  </th>
                  <td>
                    <label class="checkbox-inline">
                      <input type="checkbox" checked> チェック1
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox"> チェック2
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- /sp-iobox -->
          <div class="well well-sm sp-ta-c" style="display: none;">
            <a href="javascript:void(0);" role="button" class="btn btn-default sp-w250"><b>この条件で検索</b></a>
          </div>

        </div><!-- /panel -->

        <div class="sp-datagrid">
        <div class="row">
            <div class="col-xs-8">
              <p class="sp-table-results"><strong>118</strong> 件中 1 - 20</p>
            </div><!-- /col-xs-8 -->

            <div class="col-xs-4">
              <form class="form-inline sp-ta-r">
                <select class="form-control sp-w120">
                  <option selected>20件</option>
                  <option>50件</option>
                  <option>100件</option>
                </select>
              </form>
            </div><!-- /col-xs-4 -->
          </div>

          <table class="table table-striped table-condensed table-bordered">
            <thead>
              <tr>
                <th>項目名</th>
                <th style="width: 100px;">状況</th>
                <th style="width: 100px;">あいうえお</th>
                <th style="width: 60px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
                <td class="sp-va-m sp-ta-c"><a href="#" role="button" class="btn btn-sm btn-primary"><b>追加</b></a></td>
              </tr>
              <tr>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
                <td class="sp-va-m sp-ta-c"><a href="#" role="button" class="btn btn-sm btn-primary"><b>追加</b></a></td>
              </tr>
              <tr>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
                <td class="sp-va-m sp-ta-c"><a href="#" role="button" class="btn btn-sm btn-primary"><b>追加</b></a></td>
              </tr>
              <tr>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
                <td class="sp-va-m sp-ta-c"><a href="#" role="button" class="btn btn-sm btn-primary"><b>追加</b></a></td>
              </tr>
              <tr>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
                <td class="sp-va-m sp-ta-c"><a href="#" role="button" class="btn btn-sm btn-primary"><b>追加</b></a></td>
              </tr>
              <tr>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
                <td class="sp-va-m sp-ta-c"><a href="#" role="button" class="btn btn-sm btn-primary"><b>追加</b></a></td>
              </tr>
              <tr>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
                <td class="sp-va-m sp-ta-c"><a href="#" role="button" class="btn btn-sm btn-primary"><b>追加</b></a></td>
              </tr>
              <tr>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
                <td class="sp-va-m sp-ta-c"><a href="#" role="button" class="btn btn-sm btn-primary"><b>追加</b></a></td>
              </tr>
              <tr>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
                <td class="sp-va-m sp-ta-c"><a href="#" role="button" class="btn btn-sm btn-primary"><b>追加</b></a></td>
              </tr>
              <tr>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
                <td class="sp-va-m sp-ta-c"><a href="#" role="button" class="btn btn-sm btn-primary"><b>追加</b></a></td>
              </tr>

            </tbody>
          </table>

          <div class="row">
              <div class="col-xs-4">
                <p class="sp-table-results"><strong>118</strong> 件中 1 - 20</p>
              </div><!-- /col-xs-4 -->
              <div class="col-xs-8 sp-ta-r">
                <ul class="pagination pagination-sm">
                  <li class="disabled"><a title="前へ"><i class="fa fa-angle-left"></i></a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li class="sp-pagination-ellipsis"><span>...</span></li>
                  <li><a href="#">33</a></li>
                  <li><a href="#" title="次へ"><i class="fa fa-angle-right"></i></a></li>
                </ul><!-- /pagination -->
              </div><!-- /col-xs-8 -->
            </div>
        </div><!-- /datagrid -->
      </div>

      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-8 sp-ta-r">
          </div><!-- /col-xs-8 -->
          <div class="col-xs-4 sp-ta-r">
            <a href="javascript: void(0);" role="button" class="btn btn-default" data-dismiss="modal">キャンセル</a>
          </div><!-- /col-xs-4 -->
        </div>
      </div>

    </div><!-- /modal-content -->
  </div><!-- /modal-dialog -->
</div><!-- /modal -->
<!-- モーダル（単数選択） -->


<!-- モーダル（複数選択） -->
<div id="demoModal2" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="閉じる"><span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span></button>
        <h3>モーダル（複数選択）</h3>
      </div>

      <div class="modal-body">
        <div class="panel sp-panel-default collapsed" data-sp-toggle="panel">
          <div class="panel-heading" tabindex="0">
            <div class="row">
              <div class="col-xs-3">
                <h2 class="panel-title"><i class="fa fa-fw fa-caret-right"></i>&nbsp;絞り込み検索</h2>
              </div><!-- /col-xs-8 -->
              <div class="col-xs-9 sp-ta-r sp-text-additional">
                <strong>条件　</strong>検索条件1の指定内容／検索条件2の指定内容／検索条件3の指定内容
              </div><!-- /col-xs-4 -->
            </div>
          </div>

          <div class="sp-iobox sp-iobox-h" style="display: none;">
            <table class="table">
              <tbody>
                <tr>
                  <th class="sp-iobox-label-area">
                    <div class="sp-label-container">
                      <label class="sp-text-secondary">検索条件1</label>
                      <span class="label label-danger"><small>必須</small></span>
                    </div>
                  </th>
                  <td>
                    <p class="sp-text-additional">必要に応じて、ここに補足説明を表示します。</p>
                    <input class="form-control" type="text" placeholder="入力ヒントを表示">
                  </td>
                </tr>
                <tr>
                  <th class="sp-iobox-label-area">
                    <div class="sp-label-container">
                      <label class="sp-text-secondary">検索条件2</label>
                      <span class="label label-default"><small>任意</small></span>
                    </div>
                  </th>
                  <td>
                    <select class="form-control">
                      <option>セレクトボックス項目1</option>
                      <option selected="">セレクトボックス項目2</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th class="sp-iobox-label-area">
                    <div class="sp-label-container">
                      <label class="sp-text-secondary">検索条件3</label>
                      <span class="label label-default"><small>任意</small></span>
                    </div>
                  </th>
                  <td>
                    <label class="radio-inline">
                      <input type="radio" name="radiom2-1" checked> ラジオ1
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="radiom2-1"> ラジオ2
                    </label>
                  </td>
                </tr>
                <tr>
                  <th class="sp-iobox-label-area">
                    <div class="sp-label-container">
                      <label class="sp-text-secondary">検索条件4</label>
                      <span class="label label-default"><small>任意</small></span>
                    </div>
                  </th>
                  <td>
                    <label class="checkbox-inline">
                      <input type="checkbox" checked> チェック1
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox"> チェック2
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- /sp-iobox -->
          <div class="well well-sm sp-ta-c" style="display: none;">
            <a href="javascript:void(0);" role="button" class="btn btn-default sp-w250"><b>この条件で検索</b></a>
          </div>
        </div><!-- /panel -->

        <div class="sp-datagrid" data-sp-toggle="sp-datagrid">
        <div class="row">
            <div class="col-xs-8">
              <p class="sp-table-results sp-mt5"><strong>118</strong> 件中 1 - 20</p>
            </div><!-- /col-xs-8 -->

            <div class="col-xs-4">
              <form class="form-inline sp-ta-r">
                <select class="form-control sp-w120">
                  <option selected>20件</option>
                  <option>50件</option>
                  <option>100件</option>
                </select>
              </form>
            </div><!-- /col-xs-4 -->
          </div>

          <table class="table table-striped table-condensed table-bordered">
            <thead>
              <tr>
                <th class="sp-row-selector">
                  <input type="checkbox">
                </th>
                <th>項目名</th>
                <th style="width: 100px;">状況</th>
                <th style="width: 100px;">あいうえお</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="sp-row-selector">
                  <input type="checkbox">
                </td>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
              </tr>
              <tr>
                <td class="sp-row-selector">
                  <input type="checkbox">
                </td>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
              </tr>
              <tr>
                <td class="sp-row-selector">
                  <input type="checkbox">
                </td>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
              </tr>
              <tr>
                <td class="sp-row-selector">
                  <input type="checkbox">
                </td>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
              </tr>
              <tr>
                <td class="sp-row-selector">
                  <input type="checkbox">
                </td>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
              </tr>
              <tr>
                <td class="sp-row-selector">
                  <input type="checkbox">
                </td>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
              </tr>
              <tr>
                <td class="sp-row-selector">
                  <input type="checkbox">
                </td>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
              </tr>
              <tr>
                <td class="sp-row-selector">
                  <input type="checkbox">
                </td>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
              </tr>
              <tr>
                <td class="sp-row-selector">
                  <input type="checkbox">
                </td>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
              </tr>
              <tr>
                <td class="sp-row-selector">
                  <input type="checkbox">
                </td>
                <td class="sp-va-m"><b>あいうえおかきくけこさしすせそ</b></td>
                <td class="sp-va-m">あいうえお</td>
                <td class="sp-va-m sp-ta-r">あいう <span class="sp-text-additional">円</span></td>
              </tr>
            </tbody>
          </table>

          <div class="row">
              <div class="col-xs-4">
                <p class="sp-table-results"><strong>118</strong> 件中 1 - 20</p>
              </div><!-- /col-xs-4 -->
              <div class="col-xs-8 sp-ta-r">
                <ul class="pagination pagination-sm">
                  <li class="disabled"><a title="前へ"><i class="fa fa-angle-left"></i></a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li class="sp-pagination-ellipsis"><span>...</span></li>
                  <li><a href="#">33</a></li>
                  <li><a href="#" title="次へ"><i class="fa fa-angle-right"></i></a></li>
                </ul><!-- /pagination -->
              </div><!-- /col-xs-8 -->
            </div>
        </div><!-- /datagrid -->
      </div>

      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-8">
            <a href="javascript: void(0);" role="button" class="btn btn-primary sp-w200 disabled"><b>チェックした項目を追加</b></a>
          </div><!-- /col-xs-8 -->
          <div class="col-xs-4 sp-ta-r">
            <a href="javascript: void(0);" role="button" class="btn btn-default" data-dismiss="modal">キャンセル</a>
          </div><!-- /col-xs-4 -->
        </div>
      </div>

    </div><!-- /modal-content -->
  </div><!-- /modal-dialog -->
</div><!-- /modal -->
<!-- モーダル（複数選択） -->

    <script src="../js/jquery-1.11.3.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/sparkplug.js"></script>
    <script src="../js/jquery.placeholder.js"></script>

  </body>
</html>
