<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="ja" class="ie6 ielt10 ielt9 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ja" class="ie7 ielt10 ielt9 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ja" class="ie8 ielt10 ielt9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ja" class="ie9 ielt10"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<!--<html lang="ja">-->
<!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http:www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>アンケートプレビュー | アンケートシステム</title>
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="stylesheet" type="text/css" href="../css/sparkplug.css"
	th:href="@{/css/sparkplug.css}" />
<link rel="stylesheet" type="text/css" href="../css/common.css"
	th:href="@{/css/common.css}" />
<link rel="stylesheet" type="text/css" href="../css/jquery-ui.css"
	th:href="@{/css/jquery-ui.css}" />

<script type="text/javascript" src="../js/jquery-1.11.3.js"
	th:href="@{/js/jquery-1.11.3.js}"></script>
<script type="text/javascript" src="../js/datepicker-ja.js"
	th:href="@{/js/datepicker-ja.js}"></script>
<script type="text/javascript" src="../js/jquery-ui.min.js"
	th:href="@{/js/jquery-ui.min.js}"></script>
<script>
	$(function() {
		$.datepicker.setDefaults($.datepicker.regional['ja']);
		$('.datePicker').datepicker({
			dateFormat : 'yy-mm-dd',
			showMonthAfterYear : true,
			hideIfNoPrevNext : true
		});
	});
</script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../static/js/html5shiv.min.js"></script>
      <script src="../static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sp-with-navbar">
	<div class="navbar navbar-inverse navbar-fixed-top sp-navbar"
		role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" class="navbar-brand"> <i class="fa fa-cloud"></i> <b>アンケートシステム</b>
				</a>
			</div>
			<!-- /navbar-header -->
			<ul class="nav navbar-nav">
				<li><a href="/menu">メニュー</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"
						aria-expanded="false">
						<i class="fa fa-user"></i>ESQID: <span th:text="${LOGINUSER.esqid}">AAA</span>
					<span th:text="${LOGINUSER.username}">AAA</span><b class="caret"></b></a></li>
				<li><a href="/index">ログアウト</a></li>
			</ul>
		</div>
		<!-- /container-fluid -->
	</div>

	<!-- テーブル位置調整div -->
	<div class="container-fluid" id="pagetop">
		<h2>アンケートプレビュー</h2>
		<div class="sp-iobox sp-iobox-h">
			<table class="table">
				<tr>
					<th class="sp-iobox-label-area">
						<div class="sp-label-container">
							<label class="sp-text-secondary" for="textbox01">アンケートタイトル</label>
						</div>
					</th>
					<td th:text="${EC.creatorDto.enqueteName}">2016年度 定期健診・人間ドック
						受診前問診表</td>
				</tr>

				<tr>
					<th class="sp-iobox-label-area">
						<div class="sp-label-container">
							<label class="sp-text-secondary">対象事業部</label>
						</div>
					</th>
					<td><table>
							<tr th:each="dept:${EC.enqueteDeptDtoList}">
								<td th:text="${dept.deptName}">コミュニケーションIT事業部</td>
							</tr>
						</table></td>
				</tr>

				<tr>
					<th class="sp-iobox-label-area">
						<div class="sp-label-container">
							<label class="sp-text-secondary">作成者</label>
						</div>
					</th>
					<td th:text="${EC.creatorDto.userName}">電通
						太郎</td>
				</tr>

				<tr>
					<th class="sp-iobox-label-area">
						<div class="sp-label-container">
							<label class="sp-text-secondary" for="textbox02">管理者</label>
						</div>
					</th>
					<td class="form-inline"><table>
							<tr th:each="admin:${EC.enqueteAdminDtoList}">
								<td th:text="${admin.userName}">山田太郎</td>
							</tr>
						</table></td>
				</tr>

			</table>
		</div>

		<br />
		<div align="center" class="border_dot">
			<span>preview</span>
		</div>
		<br /> <br /> <br />
		<div class="sp-iobox-h">
			<h2 th:text="${EC.creatorDto.enqueteName}">2016年度 定期健診・人間ドック
				受診前問診表</h2>
			<br />
			<table th:class="table" th:each="question,status : ${EC.questionVMList}">
				<tr>
					<th class="num">
						<h3>
							<span th:text="${'質問'+status.count}">1</span>
							<span th:text="${question.questionDto.questionType}">[択一]</span> <span
								class="label label-danger" th:if="${question.questionDto.requireFlag == 1}">必須</span>
						</h3>
					</th>
					<th class="contents">
						<h3>
							<span th:text="${question.questionDto.questionSubtext}">○○○に該当する方のみ：</span><br />
							<span th:text="${question.questionDto.questionText}">朝食を食べていますか</span>
						</h3>
					</th>
				</tr>
				<tr th:if="${question.questionDto.questionTypeId == 1}">
					<td colspan="2">
						<div th:each="choice:${question.choiceList}">
							<div class="radio">
								<label> <input type="radio" name="radio2" /> <span
									th:text="${choice.choiceText}">ほぼ毎日食べている</span>
								</label>
							</div>
						</div>
					</td>
				</tr>
				<tr th:if="${question.questionDto.questionTypeId == 2}">
					<td colspan="2">
						<div th:each="choice:${question.choiceList}">
							<div class="checkbox">
								<label> <input type="checkbox" /> <span
									th:text="${choice.choiceText}">食べる習慣がないから</span>
								</label>
							</div>
						</div>
					</td>
				</tr>
				<tr th:if="${question.questionDto.questionTypeId == 3}">
					<td colspan="2"><textarea cols="30" rows="5"
							class="form-control" id="textarea1"></textarea></td>
				</tr>
			</table>
		</div>
		<br /> <br />
	</div>
	<div align="center">
		<a href="/enquete/config/return" role="button" class="btn btn-default sp-m5"><b>戻る</b></a>
        <a href="/enquete/complete" role="button" class="btn btn-primary sp-m5"><b>作成完了</b></a>
	</div>
<br/>
<br/>
</body>
</html>