/* =============================================================================
 * Sparkplug Theme "Green"
 * ============================================================================= */
.btn-primary {
  color: #ffffff;
  background-color: #81c784;
  border-color: #6fbf73;
  color: #333;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #6cbe6f;
  border-color: #4aa74e;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #81c784;
  border-color: #6fbf73;
}
.btn-primary .badge {
  color: #81c784;
  background-color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #333;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  color: #888;
}
/* テーマ専用パネル */
.sp-panel-theme {
  border: 1px solid #81c784;
}
.sp-panel-theme .panel-heading {
  background: #81c784;
  color: #ffffff;
}
.sp-panel-theme .list-group-item.active,
.sp-panel-theme .list-group-item.active:hover,
.sp-panel-theme .list-group-item.active:focus {
  background: #ddfadb;
  color: #333333;
  border-color: #b2f4af;
}
.sp-panel-theme .list-group-item.active .list-group-item-text,
.sp-panel-theme .list-group-item.active:hover .list-group-item-text,
.sp-panel-theme .list-group-item.active:focus .list-group-item-text {
  color: #333333;
}
/* ヘッダー（sp-navbar） */
.sp-navbar {
  border-top: 4px solid #4caf50;
  border-bottom: 1px solid #9fe3a4;
  box-shadow: 0 4px 0 rgba(27, 94, 32, 0.05);
}
.sp-navbar.navbar-inverse {
  box-shadow: 0 4px 0 rgba(27, 94, 32, 0.15);
}
/* Bootstrapドロップダウンの項目ハイライト */
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu .active > a:focus {
  background-color: #81c784;
}
/* pill のアクティブ時背景 */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #8ccc8e;
}
/* リストグループ のアクティブ時背景 */
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #8ccc8e;
  border-color: #8ccc8e;
}
/* ステップ表示のアクティブ時背景 */
.page-header .sp-step-indicator .active > a,
.sp-step-indicator-v .active > a,
.page-header .sp-step-indicator .active > span,
.sp-step-indicator-v .active > span {
  background-color: #8ccc8e;
}
/* nav-pillsのテーマ用配色で上書きされないよう、再宣言 */
.sp-nav-pills-alt > li.active > a,
.sp-nav-pills-alt > li.active > a:hover,
.sp-nav-pills-alt > li.active > a:focus {
  background-color: #dfdfdf;
  background-color: rgba(0, 0, 0, 0.1);
}
/* body要素に適用するclass。背景を明るいテーマカラーに変更 */
.sp-theme-body-colored {
  /* 背景画像用スタイル ======================================================== */
  /* background: url("../img/bg/bg-light1.jpg") center top no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  /* 背景画像用スタイル ======================================================== */
  background-color: #f2fdf2;
}
.sp-theme-body-colored .well {
  border: 2px solid #b5dfb7;
  background: #FFF;
}
.sp-theme-body-colored .panel > .well {
  border: none;
  border-top: 1px solid #ddd;
}
.sp-theme-body-colored .alert-danger {
  border-color: #a94442;
}
.sp-theme-body-colored .sp-footer {
  background: #FFF;
}
/* body要素に適用するclass。背景を黒系に変更 */
.sp-theme-body-dark {
  /* 背景画像用スタイル ======================================================== */
  /* background: url("../img/bg/bg-dark1.jpg") center top no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  /* 背景画像用スタイル ======================================================== */
  background-color: #333;
}
.sp-theme-body-dark a {
  color: #FFF;
}
.sp-theme-body-dark > .container > .page-header,
.sp-theme-body-dark > .container > h1,
.sp-theme-body-dark > .container > h2,
.sp-theme-body-dark > .container > h3,
.sp-theme-body-dark > .container > h4,
.sp-theme-body-dark > .container > h5,
.sp-theme-body-dark > .container > h6,
.sp-theme-body-dark > .container > p,
.sp-theme-body-dark .sp-maincontent > .page-header,
.sp-theme-body-dark .sp-maincontent > h1,
.sp-theme-body-dark .sp-maincontent > h2,
.sp-theme-body-dark .sp-maincontent > h3,
.sp-theme-body-dark .sp-maincontent > h4,
.sp-theme-body-dark .sp-maincontent > h5,
.sp-theme-body-dark .sp-maincontent > h6,
.sp-theme-body-dark .sp-maincontent > p,
.sp-theme-body-dark .sp-maincontent > .row h1,
.sp-theme-body-dark .sp-maincontent > .row h2,
.sp-theme-body-dark .sp-maincontent > .row h3,
.sp-theme-body-dark .sp-maincontent > .row h4,
.sp-theme-body-dark .sp-maincontent > .row h5,
.sp-theme-body-dark .sp-maincontent > .row h6,
.sp-theme-body-dark .sp-maincontent > .row p,
.sp-theme-body-dark .sp-fixed-sidenav > .page-header,
.sp-theme-body-dark .sp-fixed-sidenav > h1,
.sp-theme-body-dark .sp-fixed-sidenav > h2,
.sp-theme-body-dark .sp-fixed-sidenav > h3,
.sp-theme-body-dark .sp-fixed-sidenav > h4,
.sp-theme-body-dark .sp-fixed-sidenav > h5,
.sp-theme-body-dark .sp-fixed-sidenav > h6,
.sp-theme-body-dark .sp-fixed-sidenav > p,
.sp-theme-body-dark .jumbotron {
  color: #ccc;
}
.sp-theme-body-dark .sp-maincontent > .row p a,
.sp-theme-body-dark .sp-maincontent .page-header .sp-step-indicator li > a,
.sp-theme-body-dark .sp-maincontent .page-header .sp-step-indicator li > span,
.sp-theme-body-dark .sp-maincontent .sp-step-indicator-v li > a,
.sp-theme-body-dark .sp-maincontent .sp-step-indicator-v li > span {
  color: #fff;
}
.sp-theme-body-dark .page-header .sp-step-indicator li > a:hover,
.sp-theme-body-dark .page-header .sp-step-indicator li > a:focus,
.sp-theme-body-dark .sp-step-indicator-v li > a:hover,
.sp-theme-body-dark .sp-step-indicator-v li > a:focus {
  background: #555;
}
.sp-theme-body-dark .page-header {
  border-color: #4caf50;
}
.sp-theme-body-dark .panel {
  background: #333;
}
.sp-theme-body-dark .panel .list-group-item {
  background: #333;
  border-color: #444;
  color: #fff;
}
.sp-theme-body-dark .panel .list-group-item-heading {
  color: #FFF;
}
.sp-theme-body-dark .panel .list-group-item-text {
  color: #ccc;
}
.sp-theme-body-dark .panel .list-group-item:hover,
.sp-theme-body-dark .panel .list-group-item:focus {
  background: #444;
}
.sp-theme-body-dark .panel[data-sp-toggle="panel"] .panel-heading > h1,
.sp-theme-body-dark .panel[data-sp-toggle="panel"] .panel-heading > h2,
.sp-theme-body-dark .panel[data-sp-toggle="panel"] .panel-heading > h3,
.sp-theme-body-dark .panel[data-sp-toggle="panel"] .panel-heading > h4,
.sp-theme-body-dark .panel[data-sp-toggle="panel"] .panel-heading > h5,
.sp-theme-body-dark .panel[data-sp-toggle="panel"] .panel-heading > h6 {
  color: #ccc;
}
.sp-theme-body-dark .panel[data-sp-toggle="panel"] .panel-heading:hover {
  color: #ccc;
  background: #333;
}
.sp-theme-body-dark .panel[data-sp-toggle="panel"] .panel-heading:active {
  background: #444;
}
.sp-theme-body-dark .sp-panel-default {
  border-color: #888;
  color: #ccc;
}
.sp-theme-body-dark .sp-panel-default .panel-heading {
  background: #222;
  border-color: #444;
}
.sp-theme-body-dark .sp-panel-default .panel-body {
  background: #333;
}
.sp-theme-body-dark .sp-panel-default .panel-footer {
  background: #333;
  border-color: #444;
}
.sp-theme-body-dark .sp-panel-theme .panel-body {
  background: #444;
}
.sp-theme-body-dark .sp-panel-theme .panel-footer {
  background: #4c4c4c;
  border-color: #333;
}
.sp-theme-body-dark .well {
  border-width: 0;
  background: #111;
}
.sp-theme-body-dark .panel .well {
  background: #333;
  border: none;
  border-top: 1px solid #666;
}
.sp-theme-body-dark .alert-danger {
  border-color: #900;
}
.sp-theme-body-dark .sp-footer {
  background: #222;
}
.sp-theme-body-dark .list-group-item.active,
.sp-theme-body-dark .list-group-item.active:hover,
.sp-theme-body-dark .list-group-item.active:focus {
  background: #18521c;
  color: #fff;
  border-color: #444;
}
.sp-theme-body-dark .list-group-item.active .list-group-item-text,
.sp-theme-body-dark .list-group-item.active:hover .list-group-item-text,
.sp-theme-body-dark .list-group-item.active:focus .list-group-item-text {
  color: #ccc;
}
.sp-theme-body-dark .sp-iobox {
  background: #333;
}
.sp-theme-body-dark .sp-iobox .table th,
.sp-theme-body-dark .sp-iobox .table td {
  border-color: #555;
}
.sp-theme-body-dark .sp-iobox-h .sp-iobox-label-area {
  background: #262626;
}
.sp-theme-body-dark input,
.sp-theme-body-dark select,
.sp-theme-body-dark textarea {
  background: #222;
  color: #ccc;
  border-color: #000;
}
.sp-theme-body-dark .btn-default {
  background: transparent;
  border-color: #ccc;
}
.sp-theme-body-dark .btn-default:hover,
.sp-theme-body-dark .btn-default:focus {
  background: #fff;
  color: #333;
}
.sp-theme-body-dark .label-default {
  background: #4e4e4e;
  color: #FFF;
}
.sp-theme-body-dark .label-danger {
  background: #c22;
}
.sp-theme-body-dark .nav-pills > li > a {
  color: #FFF;
}
.sp-theme-body-dark .nav-pills > li > a:hover,
.sp-theme-body-dark .nav-pills > li > a:focus {
  background-color: #444;
}
.sp-theme-body-dark .nav-pills > li.active > a,
.sp-theme-body-dark .nav-pills > li.active > a:hover,
.sp-theme-body-dark .nav-pills > li.active > a:focus {
  background-color: #8ccc8e;
}
.sp-theme-body-dark .sp-nav-pills-alt > li.active > a,
.sp-theme-body-dark .sp-nav-pills-alt > li.active > a:hover,
.sp-theme-body-dark .sp-nav-pills-alt > li.active > a:focus {
  background-color: #555;
  color: #FFF;
}
.sp-theme-body-dark .pagination > li > a,
.sp-theme-body-dark .pagination > li > span {
  border-color: #888;
  background: transparent;
  color: #FFF;
}
.sp-theme-body-dark .pagination > li > a :hover,
.sp-theme-body-dark .pagination > li > span :hover,
.sp-theme-body-dark .pagination > li > a :focus,
.sp-theme-body-dark .pagination > li > span :focus {
  border-color: #888;
}
.sp-theme-body-dark .pagination > .active > span,
.sp-theme-body-dark .pagination > .active > span:hover,
.sp-theme-body-dark .pagination > .active > span:focus,
.sp-theme-body-dark .pagination > .active > a,
.sp-theme-body-dark .pagination > .active > a:hover,
.sp-theme-body-dark .pagination > .active > a:focus {
  border-color: #888;
  background: #555;
  color: #FFF;
}
.sp-theme-body-dark .pagination > .disabled > span,
.sp-theme-body-dark .pagination > .disabled > span:hover,
.sp-theme-body-dark .pagination > .disabled > span:focus,
.sp-theme-body-dark .pagination > .disabled > a,
.sp-theme-body-dark .pagination > .disabled > a:hover,
.sp-theme-body-dark .pagination > .disabled > a:focus {
  border-color: #888;
  color: #777;
}
.sp-theme-body-dark .pagination > .sp-pagination-ellipsis > span,
.sp-theme-body-dark .pagination > .sp-pagination-ellipsis > span:hover,
.sp-theme-body-dark .pagination > .sp-pagination-ellipsis > span:focus,
.sp-theme-body-dark .pagination > .sp-pagination-ellipsis > a,
.sp-theme-body-dark .pagination > .sp-pagination-ellipsis > a:hover,
.sp-theme-body-dark .pagination > .sp-pagination-ellipsis > a:focus {
  border-color: #888;
  color: #777;
}
.sp-theme-body-dark .sp-datagrid {
  background: #333;
  border-color: #888;
}
.sp-theme-body-dark .sp-datagrid .row {
  border-color: #888;
}
.sp-theme-body-dark .sp-datagrid table {
  background: #333;
  color: #ccc;
}
.sp-theme-body-dark .sp-datagrid th,
.sp-theme-body-dark .sp-datagrid > .table > thead > tr > th {
  background: #111;
  color: #999;
}
.sp-theme-body-dark .sp-datagrid .table-bordered > thead > tr > th,
.sp-theme-body-dark .sp-datagrid .table-bordered > tbody > tr > th,
.sp-theme-body-dark .sp-datagrid .table-bordered > tfoot > tr > th,
.sp-theme-body-dark .sp-datagrid .table-bordered > thead > tr > td,
.sp-theme-body-dark .sp-datagrid .table-bordered > tbody > tr > td,
.sp-theme-body-dark .sp-datagrid .table-bordered > tfoot > tr > td {
  border-color: #555;
}
.sp-theme-body-dark .sp-datagrid thead:last-child tr:last-child th,
.sp-theme-body-dark .sp-datagrid tbody:last-child tr:last-child td,
.sp-theme-body-dark .sp-datagrid tfoot:last-child tr:last-child td {
  border-bottom-color: #999;
}
.sp-theme-body-dark .sp-datagrid .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #262626;
}
.sp-theme-body-dark .sp-datagrid .table-hover > tbody > tr:hover {
  background-color: blue;
}
.ielt9 html {
  min-height: 100%;
}
/* navbar用フラットスタイル */
.sp-theme-navbar-flat {
  background: #FFF
  /* グロナビのドロップダウン項目ハイライト */
}
.sp-theme-navbar-flat .nav .active > a,
.sp-theme-navbar-flat .nav .active > a:hover,
.sp-theme-navbar-flat .nav .active > a:focus {
  background: none;
  color: #357a38;
}
.sp-theme-navbar-flat .nav li.dropdown.open > .dropdown-toggle,
.sp-theme-navbar-flat .nav li.dropdown.active > .dropdown-toggle,
.sp-theme-navbar-flat .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  color: #357a38;
}
.sp-theme-navbar-flat .nav li.dropdown.open > .dropdown-toggle .caret,
.sp-theme-navbar-flat .nav li.dropdown.active > .dropdown-toggle .caret,
.sp-theme-navbar-flat .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #357a38;
  border-bottom-color: #357a38;
}
/* navbar-inverse用フラットスタイル */
.sp-theme-navbar-flat-inverse {
  background: #111
  /* グロナビのドロップダウン項目ハイライト */
}
.sp-theme-navbar-flat-inverse .nav .active > a,
.sp-theme-navbar-flat-inverse .nav .active > a:hover,
.sp-theme-navbar-flat-inverse .nav .active > a:focus {
  background: none;
  color: #92cf94;
}
.sp-theme-navbar-flat-inverse .nav li.dropdown.open > .dropdown-toggle,
.sp-theme-navbar-flat-inverse .nav li.dropdown.active > .dropdown-toggle,
.sp-theme-navbar-flat-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  color: #92cf94;
}
.sp-theme-navbar-flat-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.sp-theme-navbar-flat-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.sp-theme-navbar-flat-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #92cf94;
  border-bottom-color: #92cf94;
}
/* 透明なヘッダー */
.sp-theme-navbar-transparent {
  background: none;
}
/* [IE8] 背景画像を画面いっぱいに表示するためのPolyfill読み込み */
.ielt9 .sp-theme-body-colored,
.ielt9 .sp-theme-body-dark {
  /* The url is relative to the document, not to the css file! */
  /* Prefer absolute urls to avoid confusion. */
  -ms-behavior: url("../../themes/utils/backgroundsize.htc");
  background-repeat: repeat-x;
}
.sp-panel-theme .panel-heading .panel-title,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu .active > a:focus,
.page-header .sp-step-indicator,
.sp-step-indicator-v .active > a,
.sp-step-indicator-v .active > span {
  color: #333;
}
.btn-primary {
  color: #ffffff;
  background-color: #81c784;
  border-color: #6fbf73;
  color: #333;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #6cbe6f;
  border-color: #4aa74e;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #81c784;
  border-color: #6fbf73;
}
.btn-primary .badge {
  color: #81c784;
  background-color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #333;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  color: #888;
}
.sp-theme-body-dark .btn-primary,
.sp-theme-body-dark .nav-pills > li.active > a {
  color: #333;
}
/* nav-pillsのテーマ用配色で上書きされないよう、再宣言 */
.sp-nav-pills-alt > li.active > a,
.sp-nav-pills-alt > li.active > a:hover,
.sp-nav-pills-alt > li.active > a:focus {
  text-shadow: none;
  background-color: #dfdfdf;
  background-color: rgba(0, 0, 0, 0.1);
}
.sp-theme-body-dark .sp-nav-pills-alt > li.active > a,
.sp-theme-body-dark .sp-nav-pills-alt > li.active > a:hover,
.sp-theme-body-dark .sp-nav-pills-alt > li.active > a:focus {
  color: #FFF;
}
